footer {
  background: #C4C4C4C3;
  border: 1px solid dimgray;
  padding: 70px 5px;
  font-family: Candara, sans-serif;
  color: #464646;

  .contactus-container {
    flex: .3 0 0;
    a {
      font-weight: 600;
    }
  }

  .logo-container {
    flex: .4 0 0;

    img {
      width: 35px;
    }
  }

  .copyright-container {
    flex: .3 0 0;
  }

}
