label {
  font-size: 14px;
  margin-right: 10px;
  line-height: 27px;
}


.form-control {
  border: 1px solid rgba(105, 105, 105, 0.15);
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;

}

.form-group {
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.error {
  width: 80%;
  margin: 0 10px 10px auto;
  border: #f80057 1px solid;
  border-radius: 5px;
  background: #F800575C;
  font-size: 12px;
  color: white;
  padding: 5px;
  overflow: hidden;
  text-align: center;
}
